<!-- Навигационная панель -->

{% assign hover_link = '
      class="font-semibold rounded-full px-3 py-1 text-center whitespace-nowrap text-base"
      style="background:var(--color-hover-current-page); color:var(--color-text-current-page)"
' %}

{% assign usual_link = '
      class="font-semibold rounded-full hover:bg-[var(--color-custom-hover)] px-1.5 py-1 text-center whitespace-nowrap text-base"
' %}

<div class="inline-flex h-12 rounded-full items-center justify-between px-5 fixed left-1/2 -translate-x-1/2 bottom-4 z-50 bg-white/30 backdrop-blur-md sm:top-4 sm:bottom-auto">
  <a href="/"
    {% if page.url == "/" or page.url == "/index.html" %}
      {{ hover_link }}
    {% else %}
      {{ usual_link }}
    {% endif %}
  >Главная</a>
  <a href="/pro"
    {% if page.url == "/pro" or page.url == "/pro.html" %}
      {{ hover_link }}
    {% else %}
      {{ usual_link }}
    {% endif %}
  >Проекты</a>
  <a href="/journal"
    {% if page.url == "/journal" or page.url == "/journal.html" %}
      {{ hover_link }}
    {% else %}
      {{ usual_link }}
    {% endif %}
  >Журнал</a>
  <a href="/work"
    {% if page.url == "/work" or page.url == "/work.html" %}
      {{ hover_link }}
    {% else %}
      {{ usual_link }}
    {% endif %}
  >Команда</a>
</div>