/* Общие цвета для страниц */
:root {
  --color-custom-hover: #00000010;
  --color-background-current: var(--color-background-top);
  --color-modal-background: #DCF5F2;
  --color-messenger1: #25D366;
  --color-messenger2: #2AABEE;
}

/* Размер картинки для case  */
.featured-image-post {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

body {
  overflow-x: hidden;
}

.red-container {
  background: #e53935;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}