/* Общие цвета для страниц */
:root {
  --color-custom-hover: #00000010;
  --color-background-current: var(--color-background-top);
}

.slide-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background-current);
  transition: background 0.7s;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

