/* Общие цвета для страниц */
:root {
  --color-custom-hover: #00000010;
  --color-modal-background: #EBF8FF;
  --color-messenger1: #25D366;
  --color-messenger2: #2AABEE;

  
  --color-ya: #ffcc00;
  --color-vk: #45668e;
  --color-none: #fff;
}

/* Размер картинки для case  */
.featured-image-post {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

body {
  overflow-x: hidden;
}

