:root {
  /* Градиент фона */
  --color-background-top: #F3F3E9;
  --color-background-middle: #B488F1;
  --color-background-bottom: #E0E0D1;

  /* Навигационная панель */
  --color-hover-current-page: #0F1D07;
  --color-text-current-page: #90F188;

  /* Значок Telegram */
  --color-logo: #0F1D07;
  
  /* Дополнительные цвета */
  --color-card-border: #F3F3E9;
}

.featured-image-post {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

body {
  color: #322606; /* Цвет текста */
  overflow-x: hidden;
}

.card-link {
  opacity: 0;
}

.btn-ready-solutions {
  background-color: var(--color-hover-current-page);
  color: var(--color-text-current-page);
  transition: all 0.3s ease;
}

.btn-ready-solutions:hover {
  background-color: var(--color-text-current-page);
  color: var(--color-hover-current-page);
}