:root {
  /* Градиент фона */
  --color-background-top: #F3F3E9;
  --color-background-middle: #97C2BB;
  --color-background-bottom: #FFF8E4;

  /* Навигационная панель */
  --color-hover-current-page: #0F1D07;
  --color-text-current-page: #90F188;

  /* Значок Telegram */
  --color-logo: #0F1D07;
}

body {
  color: #0F1D07; /* Цвет текста */
}