:root {
  /* Градиент фона */
  --color-background-top: #DCF5F2;
  --color-background-middle: #11a5e9;
  --color-background-bottom: #37ea3a;

  /* Навигационная панель */
  --color-hover-current-page: #322606;
  --color-text-current-page: #FFD029;

  /* Значок Telegram */
  --color-logo: #322606;
}

body {
  color: #322606; /* Цвет текста */
}
