
:root {
  /* Градиент фона */
  --color-background-top: #DCF5F2;
  --color-background-middle: #D8E7EE;
  --color-background-bottom: #3799EA;

  /* Навигационная панель */
  --color-hover-current-page: #1C3232;
  --color-text-current-page: #83EADF;

  /* Значок Telegram */
  --color-logo: #1C3232;
}

body {
  color: #1C3232; /* Цвет текста */
}