:root {
  /* Навигационная панель */
  --color-hover-current-page: #565656;
  --color-text-current-page: #ff1212;
  --color-nav-fill: #ffea0073;
  --color-nav-bg: #00000010;
}

body {
  color: #0F1D07; /* Цвет текста */
}