:root {
  /* Градиент фона */
  --color-background-top: #B3ABBF;

  /* Навигационная панель */
  --color-hover-current-page: #12032A;
  --color-text-current-page: #B488F1;

  /* Значок Telegram */
  --color-telegram-icon: #FFD9B6;
}

body {
  color: #12032A; /* Цвет текста */
}